<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JokeAPI Web App</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Random Joke Generator 😂</h1>
      <div class="joke-area">
        <p id="joke-setup" class="joke-text"></p>

        <p id="joke-punchline" class="joke-text"><%= joke %></p>

        <p id="joke-single" class="joke-text" style="display: none"></p>
      </div>
      <form action="/submit" method="POST">
        <button id="get-joke-btn">Get Another Joke!</button>
      </form>
      <p id="error-message" style="color: red; margin-top: 15px"></p>
    </div>
    <script src="index.js"></script>
  </body>
</html>
